
.formdiv{
  min-height: 90vh;
  border-radius: 15px 0 0 15px;
  width:80%;
  background-color: white;
  display: flex;
  justify-content: left;
  }
  .imagediv{
      min-height: 90vh;
      width:80%;
      border-radius: 0 15px 15px 0;
      background-size: cover;
      background-image: url('../src/Banner\ \(1\).svg');
      background-position: center center;
  }
  .mycontainer{
      width:95%;
      
      
  }
  .account_text{
      margin-top: 1rem;
      font-family: "Open Sans", sans-serif;
      font-size: medium;
      margin-left: 10%;
      font-weight: lighter;
      
      
  }
  body{
      background-color: azure;
      
      
  }
  .signuplink{
  color: #1e1fec;
  font-weight: bold;
  }
  .login_form{
    margin-left: 10%;
    margin-top: 20%;
  }
  .login_button{
    width: 100%;
    padding: 2%;
    margin-top: 5%;
    background-color: #1e1fec;
  }
  .forgot_pass{
    font-size: small;
    color: #1e1fec;
    
    text-decoration: none;
    cursor: pointer;
  }
  .forgot_div{
    margin-top: 2%;
  }
.inner_form_div{
  margin-top: 5%;
}
