
.formdiv{
 

min-height: 90vh;
border-radius:15px 0 0 15px;
  background-color: white;
  display: block;
  justify-content: left;
  }
  .imagediv{
      
  
     min-height:90vh;
      border-radius: 0 15px 15px 0;
      background-image: url('../src/Banner-15.svg');
   background-size: cover;
   background-position:center center;
    
  }
  .mycontainer{
 width:80%;
 padding-top: 2%;
 
    
      
  }
  .containerrow{
    box-shadow: 10px 10px 10px grey ;
    border-radius: 15px;
  }
  .account_text{
      margin-top: 1rem;
      font-family: "Open Sans", sans-serif;
      font-size: medium;
      margin-left: 10%;
      font-weight: lighter;
      
      
  }
  body{
      background-color: azure;
      
      
  }
  .signuplink{
  color: #1e1fec;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  }
  .login_form{
    margin-left: 10%;
    margin-top: 20%;
  }
  .login_button{
    width: 100%;
    padding: 2%;
    margin-top: 3%;
    background-color: #1e1fec;
  }
  .forgot_pass{
    font-size: small;
    color: #1e1fec;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    cursor: pointer;
  }
  .forgot_div{
    margin-top: 2%;
  }
.inner_form_div{
  margin-top: 5%;
}
.border-lable-flt {
  display: block;
  position: relative;
}
.border-lable-flt label, .border-lable-flt > span {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 75%;
  opacity: 1;
  
  -webkit-transition: all .2s;
          transition: all .2s;
  top: -.5em;
  left: 0.75rem;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
}
.border-lable-flt label::after, .border-lable-flt > span::after {
  content: " ";
  display: block;
  position: absolute;
  background: white;
  height: 2px;
  top: 50%;
  
  left: -.2em;
  right: -.2em;
  z-index: -1;
}
.border-lable-flt .form-control::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.border-lable-flt .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}
.border-lable-flt .form-control:placeholder-shown:not(:focus) + * {
  font-size: 130%;
  opacity: .5;
  top: .3em;
}
.border-lable-flt .form-control-lg:placeholder-shown:not(:focus) + * {
  font-size: 150%;
  opacity: .5;
  top: .3em;
}

.input-group .border-lable-flt {
  display: table-cell;
}
.input-group .border-lable-flt .form-control {
  border-radius: 0.25rem;
}
.input-group .border-lable-flt:not(:last-child), .input-group .border-lable-flt:not(:last-child) .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
.input-group .border-lable-flt:not(:first-child), .input-group .border-lable-flt:not(:first-child) .form-control {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-control:focus {
  color: black;
box-shadow: none;
  background-color: #fff;
  border-color: #1e1fec;
  
}
.myinput{
  margin:3% 0 3% 0;
 
}
@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.forgot_text{
  color:#1e1fec;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  
  font-weight: lighter;
}
.black_text{
  color:black;
}
.benefit_text{
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size:small;
  margin-left: 10%;
  font-weight: lighter;
  
}

.form-check-label{
  font-size:x-small;
  font-family: "Open Sans", sans-serif;
}
.ma-left{
  margin-left: 10%;
}
.social_icon{
  width:35px;
  padding:1%;
  cursor: pointer;
}